<a href="https://colab.research.google.com/github/2303a51894/AIML17-18/blob/main/2303A51894_18_B17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

file_path = 'name_gender_dataset.csv'
data = pd.read_csv(file_path)

top_10_names = data.nlargest(10, 'Count')[['Name', 'Gender', 'Count']]

print("Top 10 Most Popular Baby Names:")
print(top_10_names)

Top 10 Most Popular Baby Names:
      Name Gender    Count
0    James      M  5304407
1     John      M  5260831
2   Robert      M  4970386
3  Michael      M  4579950
4  William      M  4226608
5     Mary      F  4169663
6    David      M  3787547
7   Joseph      M  2695970
8  Richard      M  2638187
9  Charles      M  2433540

In [8]:
import pandas as pd

file_path = 'name_gender_dataset.csv'
data = pd.read_csv(file_path)

name_counts = data.groupby('Name')['Count'].sum()

max_count = name_counts.max()
min_count = name_counts.min()

max_names = name_counts[name_counts == max_count]
min_names = name_counts[name_counts == min_count]


print("Maximum Count:")
print(max_names)

print("\nMinimum Count:")
print(min_names)

Maximum Count:
Name
James    5328370
Name: Count, dtype: int64

Minimum Count:
Name
A'Aff      1
A'Aron     1
A'Dele     1
A'Isha     1
A'Ishah    1
          ..
Zyrije     1
Zyrinah    1
Zyshan     1
Zyta       1
Zyton      1
Name: Count, Length: 29379, dtype: int64

In [9]:
import pandas as pd

file_path = 'name_gender_dataset.csv'
data = pd.read_csv(file_path)

gender_name_counts = data.groupby('Gender')['Name'].nunique()

most_names_gender = gender_name_counts.idxmax()
most_names_count = gender_name_counts.max()

print(f"The gender with the most names is: {most_names_gender} with {most_names_count} unique names.")

The gender with the most names is: F with 89749 unique names.

In [10]:
import pandas as pd

file_path = 'name_gender_dataset.csv'
data = pd.read_csv(file_path)

top_5_male = data[data['Gender'] == 'M'].nlargest(5, 'Probability')[['Name', 'Probability']]

top_5_female = data[data['Gender'] == 'F'].nlargest(5, 'Probability')[['Name', 'Probability']]

print("Top 5 Probabilities for Male Babies:")
print(top_5_male)

print("\nTop 5 Probabilities for Female Babies:")
print(top_5_female)

Top 5 Probabilities for Male Babies:
      Name  Probability
0    James     0.014517
1     John     0.014398
2   Robert     0.013603
3  Michael     0.012534
4  William     0.011567

Top 5 Probabilities for Female Babies:
         Name  Probability
5        Mary     0.011411
14  Elizabeth     0.004664
15   Patricia     0.004401
16   Jennifer     0.004336
19      Linda     0.004052

In [11]:
import pandas as pd

file_path = 'name_gender_dataset.csv'
data = pd.read_csv(file_path)

top_5_probabilities = data.nlargest(5, 'Probability')[['Name', 'Gender', 'Probability']]

print("Top 5 Names with the Highest Probabilities:")
print(top_5_probabilities)

Top 5 Names with the Highest Probabilities:
      Name Gender  Probability
0    James      M     0.014517
1     John      M     0.014398
2   Robert      M     0.013603
3  Michael      M     0.012534
4  William      M     0.011567

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report


file_path = 'name_gender_dataset.csv'
data = pd.read_csv(file_path)

X = data['Name']
y = data['Gender']

vectorizer = CountVectorizer()
X_vectorized = vectorizer.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_vectorized, y, test_size=0.2, random_state=42)


model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)


y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)


print(f"Model Accuracy: {accuracy:.2f}")
print("\nClassification Report:")
print(report)

Model Accuracy: 0.56

Classification Report:
              precision    recall  f1-score   support

           F       0.59      0.89      0.71     18029
           M       0.15      0.03      0.05     11425

    accuracy                           0.56     29454
   macro avg       0.37      0.46      0.38     29454
weighted avg       0.42      0.56      0.46     29454